{
    "plugins": [
        [
            "relay",
            {
                "artifactDirectory": "./__generated__/relay/"
            }
        ],
        [
            "@stylexjs/babel-plugin",
            {
                "dev": true,
                "test": false,
                "unstable_moduleResolution": {
                    "type": "commonJS",
                    "rootDir": "."
                }
            }
        ],
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ],
    "presets": [
        ["@babel/preset-react", {"runtime": "automatic"}],
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "env": {
        "production": {
            "compact": true,
            "comments": false,
            "minified": true
        }
    },
    "sourceMaps": true
}